# System Options
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/variables.cfg

[exclude_object]

[gcode_arcs]
resolution: 1.0

[idle_timeout]
timeout: 54000
# gcode:
#   {% if printer.pause_resume.is_paused %}
#     M104 S0
#   {% else %}
#     STANDBY
#   {% endif %}